{% extends 'base.html' %}

{% block title %}NOTICIAS APP{% endblock %}

{% block content %}
    <section>
        <h1>Bienvenido a la Página de Inicio de Noticias APP</h1>
        <p>Explora las últimas noticias y mantenete actualizado.</p>
        <a href="/agregar-noticia/">Agregar Noticia</a>
    </section>

    <section>
        <h2>Últimas Noticias</h2>
        <div>
            <h3>Título de la Noticia 1</h3>
            <p>Contenido de la noticia 1</p>
            <a href="#">Leer más</a>
        </div>
        <div>
            <h3>Título de la Noticia 2</h3>
            <p>Contenido de la noticia 2</p>
            <a href="#">Leer más</a>
        </div>
        <div>
            <h3>Título de la Noticia 3</h3>
            <p>Contenido de la noticia 3</p>
            <a href="#">Leer más</a>
        </div>
    </section>
{% endblock %}